In [23]:
import findspark

findspark.init()

import pyspark

In [24]:
pyspark

In [25]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Word Count').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/23 13:23:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/23 13:23:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/08/23 13:23:44 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

Json.load won't take multiple dcouments so for that we have to use splitlines to convert into list of multiple document into list of string """{}{}{}{}"""---->splitlines()-->['{}','{}','{}','{}']
['{}','{}','{}','{}'] --->(one by one) json.loads() -------> [{},{},{},{}]
Row Function ---> Row(id=1, first_name='Frasco', last_name='Necolds', email='fnecolds0@vk.com', gender='Male', ip_address='243.67.63.34'), Row(id=2, first_name='Dulce', last_name='Santos', email='dsantos1@mashable.com', gender='Female', ip_address='60.30.246.227') Remember *args.values(),**kwargs

In [26]:
persons3 = '''{"id":1,"first_name":"Frasco","last_name":"Necolds","email":"fnecolds0@vk.com","gender":"Male","ip_address":"243.67.63.34"}
{"id":2,"first_name":"Dulce","last_name":"Santos","email":"dsantos1@mashable.com","gender":"Female","ip_address":"60.30.246.227"}
{"id":3,"first_name":"Prissie","last_name":"Tebbett","email":"ptebbett2@infoseek.co.jp","gender":"Genderfluid","ip_address":"22.21.162.56"}
{"id":4,"first_name":"Schuyler","last_name":"Coppledike","email":"scoppledike3@gnu.org","gender":"Agender","ip_address":"120.35.186.161"}
{"id":5,"first_name":"Leopold","last_name":"Jarred","email":"ljarred4@wp.com","gender":"Agender","ip_address":"30.119.34.4"}
{"id":6,"first_name":"Joanna","last_name":"Teager","email":"jteager5@apache.org","gender":"Bigender","ip_address":"245.221.176.34"}
{"id":7,"first_name":"Lion","last_name":"Beere","email":"lbeere6@bloomberg.com","gender":"Polygender","ip_address":"105.54.139.46"}
{"id":8,"first_name":"Marabel","last_name":"Wornum","email":"mwornum7@posterous.com","gender":"Polygender","ip_address":"247.229.14.25"}
{"id":9,"first_name":"Helenka","last_name":"Mullender","email":"hmullender8@cloudflare.com","gender":"Non-binary","ip_address":"133.216.118.88"}
{"id":10,"first_name":"Christine","last_name":"Swane","email":"cswane9@shop-pro.jp","gender":"Polygender","ip_address":"86.16.210.164"}'''

In [38]:
from pyspark.sql.types import StringType
from pyspark.sql import Row
persons4 = persons3.splitlines()
print(persons4)
import json
json_data = [json.loads(i) for i in persons4]
print(json_data)
row_json_data = [Row(**data) for data in json_data]
print(row_json_data)
df = spark.createDataFrame(row_json_data)
df.show()

['{"id":1,"first_name":"Frasco","last_name":"Necolds","email":"fnecolds0@vk.com","gender":"Male","ip_address":"243.67.63.34"}', '{"id":2,"first_name":"Dulce","last_name":"Santos","email":"dsantos1@mashable.com","gender":"Female","ip_address":"60.30.246.227"}', '{"id":3,"first_name":"Prissie","last_name":"Tebbett","email":"ptebbett2@infoseek.co.jp","gender":"Genderfluid","ip_address":"22.21.162.56"}', '{"id":4,"first_name":"Schuyler","last_name":"Coppledike","email":"scoppledike3@gnu.org","gender":"Agender","ip_address":"120.35.186.161"}', '{"id":5,"first_name":"Leopold","last_name":"Jarred","email":"ljarred4@wp.com","gender":"Agender","ip_address":"30.119.34.4"}', '{"id":6,"first_name":"Joanna","last_name":"Teager","email":"jteager5@apache.org","gender":"Bigender","ip_address":"245.221.176.34"}', '{"id":7,"first_name":"Lion","last_name":"Beere","email":"lbeere6@bloomberg.com","gender":"Polygender","ip_address":"105.54.139.46"}', '{"id":8,"first_name":"Marabel","last_name":"Wornum","email":"mwornum7@posterous.com","gender":"Polygender","ip_address":"247.229.14.25"}', '{"id":9,"first_name":"Helenka","last_name":"Mullender","email":"hmullender8@cloudflare.com","gender":"Non-binary","ip_address":"133.216.118.88"}', '{"id":10,"first_name":"Christine","last_name":"Swane","email":"cswane9@shop-pro.jp","gender":"Polygender","ip_address":"86.16.210.164"}']
[{'id': 1, 'first_name': 'Frasco', 'last_name': 'Necolds', 'email': 'fnecolds0@vk.com', 'gender': 'Male', 'ip_address': '243.67.63.34'}, {'id': 2, 'first_name': 'Dulce', 'last_name': 'Santos', 'email': 'dsantos1@mashable.com', 'gender': 'Female', 'ip_address': '60.30.246.227'}, {'id': 3, 'first_name': 'Prissie', 'last_name': 'Tebbett', 'email': 'ptebbett2@infoseek.co.jp', 'gender': 'Genderfluid', 'ip_address': '22.21.162.56'}, {'id': 4, 'first_name': 'Schuyler', 'last_name': 'Coppledike', 'email': 'scoppledike3@gnu.org', 'gender': 'Agender', 'ip_address': '120.35.186.161'}, {'id': 5, 'first_name': 'Leopold', 'last_name': 'Jarred', 'email': 'ljarred4@wp.com', 'gender': 'Agender', 'ip_address': '30.119.34.4'}, {'id': 6, 'first_name': 'Joanna', 'last_name': 'Teager', 'email': 'jteager5@apache.org', 'gender': 'Bigender', 'ip_address': '245.221.176.34'}, {'id': 7, 'first_name': 'Lion', 'last_name': 'Beere', 'email': 'lbeere6@bloomberg.com', 'gender': 'Polygender', 'ip_address': '105.54.139.46'}, {'id': 8, 'first_name': 'Marabel', 'last_name': 'Wornum', 'email': 'mwornum7@posterous.com', 'gender': 'Polygender', 'ip_address': '247.229.14.25'}, {'id': 9, 'first_name': 'Helenka', 'last_name': 'Mullender', 'email': 'hmullender8@cloudflare.com', 'gender': 'Non-binary', 'ip_address': '133.216.118.88'}, {'id': 10, 'first_name': 'Christine', 'last_name': 'Swane', 'email': 'cswane9@shop-pro.jp', 'gender': 'Polygender', 'ip_address': '86.16.210.164'}]
[Row(id=1, first_name='Frasco', last_name='Necolds', email='fnecolds0@vk.com', gender='Male', ip_address='243.67.63.34'), Row(id=2, first_name='Dulce', last_name='Santos', email='dsantos1@mashable.com', gender='Female', ip_address='60.30.246.227'), Row(id=3, first_name='Prissie', last_name='Tebbett', email='ptebbett2@infoseek.co.jp', gender='Genderfluid', ip_address='22.21.162.56'), Row(id=4, first_name='Schuyler', last_name='Coppledike', email='scoppledike3@gnu.org', gender='Agender', ip_address='120.35.186.161'), Row(id=5, first_name='Leopold', last_name='Jarred', email='ljarred4@wp.com', gender='Agender', ip_address='30.119.34.4'), Row(id=6, first_name='Joanna', last_name='Teager', email='jteager5@apache.org', gender='Bigender', ip_address='245.221.176.34'), Row(id=7, first_name='Lion', last_name='Beere', email='lbeere6@bloomberg.com', gender='Polygender', ip_address='105.54.139.46'), Row(id=8, first_name='Marabel', last_name='Wornum', email='mwornum7@posterous.com', gender='Polygender', ip_address='247.229.14.25'), Row(id=9, first_name='Helenka', last_name='Mullender', email='hmullender8@cloudflare.com', gender='Non-binary', ip_address='133.216.118.88'), Row(id=10, first_name='Christine', last_name='Swane', email='cswane9@shop-pro.jp', gender='Polygender', ip_address='86.16.210.164')]
+---+----------+----------+--------------------+-----------+--------------+
| id|first_name| last_name|               email|     gender|    ip_address|
+---+----------+----------+--------------------+-----------+--------------+
|  1|    Frasco|   Necolds|    fnecolds0@vk.com|       Male|  243.67.63.34|
|  2|     Dulce|    Santos|dsantos1@mashable...|     Female| 60.30.246.227|
|  3|   Prissie|   Tebbett|ptebbett2@infosee...|Genderfluid|  22.21.162.56|
|  4|  Schuyler|Coppledike|scoppledike3@gnu.org|    Agender|120.35.186.161|
|  5|   Leopold|    Jarred|     ljarred4@wp.com|    Agender|   30.119.34.4|
|  6|    Joanna|    Teager| jteager5@apache.org|   Bigender|245.221.176.34|
|  7|      Lion|     Beere|lbeere6@bloomberg...| Polygender| 105.54.139.46|
|  8|   Marabel|    Wornum|mwornum7@posterou...| Polygender| 247.229.14.25|
|  9|   Helenka| Mullender|hmullender8@cloud...| Non-binary|133.216.118.88|
| 10| Christine|     Swane| cswane9@shop-pro.jp| Polygender| 86.16.210.164|
+---+----------+----------+--------------------+-----------+--------------+

In [297]:
person1="""{
  "firstName": "John",
  "lastName": "Smith",
  "isAlive": true,
  "age": 27,
  "address": {
    "streetAddress": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postalCode": "10021-3100"
  },
  "phoneNumbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    }
  ],
  "children": [],
  "spouse": null
}"""

In [320]:
import json 
import pandas as pd
from pyspark.sql.types import StringType
import json

jsonDataList = []
person=json.loads(person1)
list_p=[person]
from pyspark.sql.types import StructField, StructType, StringType, MapType,IntegerType, ArrayType, BooleanType
schema = StructType([
    StructField('firstName', StringType(), True),
    StructField('lastName', StringType(), True) ,
    StructField('isAlive', StringType(), True),
    StructField('age', IntegerType(), True),
    StructField('address', StringType(),True),
    StructField('phoneNumbers', ArrayType(MapType(StringType(),StringType())), True),
    StructField("children", ArrayType(StringType()), True),
    StructField('spouse', StringType(), True) 
    ])
print([Row(**json_val) for json_val in list_p])
df = spark.createDataFrame([Row(**json_val) for json_val in list_p], schema=schema)
df.show()


# json_data = json.loads(person1)
# print(json_data)



# df = spark.createDataFrame(json_data, schema=schema).show()   
# df.show()   



# pd.DataFrame(json_data.items())
# person2 = json.loads(person1)
#df = pd.json_normalize(person2, record_path =['phoneNumbers'])

# s = pd.DataFrame(list(person2.items()))
# s

# #spark.createDataFrame(pd.DataFrame(list(person2.items()))).show()
# spark.createDataFrame(person2).show()

[Row(firstName='John', lastName='Smith', isAlive=True, age=27, address={'streetAddress': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postalCode': '10021-3100'}, phoneNumbers=[{'type': 'home', 'number': '212 555-1234'}, {'type': 'office', 'number': '646 555-4567'}], children=[], spouse=None)]
+---------+--------+-------+---+--------------------+--------------------+--------+------+
|firstName|lastName|isAlive|age|             address|        phoneNumbers|children|spouse|
+---------+--------+-------+---+--------------------+--------------------+--------+------+
|     John|   Smith|   true| 27|{state=NY, city=N...|[{type -> home, n...|      []|  null|
+---------+--------+-------+---+--------------------+--------------------+--------+------+

22/08/24 01:07:31 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 284832 ms exceeds timeout 120000 ms
22/08/24 01:07:31 WARN SparkContext: Killing executors is not supported by current scheduler.

In [244]:
data1 = [{'points': 50, 'time': '5:00', 'month': "janurary"}, 
         {'points': 25, 'time': '6:00', 'month': "february"}, 
         {'points':90, 'time': '9:00', 'month': "january"}, 
         {'points':20, 'month': "june"}]

In [227]:
from pyspark.sql.types import *
schema = StructType([StructField("Customer", StringType(), True)\
                   ,StructField("month", StringType(), True)\
                   ,StructField("points", IntegerType(), True)\
                    ,StructField("time", StringType(), True)
                   ])

In [229]:
pd.DataFrame(d)

   points  time    year     month  points_h1
0    50.0  5:00  2010.0       NaN        NaN
1    25.0  6:00     NaN  february        NaN
2    90.0  9:00     NaN   january        NaN
3     NaN   NaN     NaN      june       20.0

In [230]:

spark.createDataFrame(d, schema=schema).show()

+--------+--------+------+----+
|Customer|   month|points|time|
+--------+--------+------+----+
|    null|    null|    50|5:00|
|    null|february|    25|6:00|
|    null| january|    90|9:00|
|    null|    june|  null|null|
+--------+--------+------+----+

In [236]:
data = [{"Category": 'Category A', "ID": 1, "Value": 12.40},
        {"Category": 'Category B', "ID": 2, "Value": 30.10},
        {"Category": 'Category C', "ID": 3, "Value": 100.01}
        ]

In [249]:
df = pd.DataFrame(data1)
df

   points  time     month
0      50  5:00  janurary
1      25  6:00  february
2      90  9:00   january
3      20   NaN      june

In [251]:
spark.createDataFrame(df).show()

TypeError: field time: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>