In [1]:
import findspark

findspark.init()

import pyspark

In [2]:
pyspark

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Word Count').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/24 18:40:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/24 18:40:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 4.5 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [6]:
import pandas as pd
df = pd.read_excel('/Users/shubhangigupta/Desktop/InterviewSchedule.xlsx')
df1 = pd.DataFrame(df)
print(df1)

                     Name Contact Person / Hiring Manager  \
0                True Car                             NaN
1          Allison Decker                             NaN
2                  Oracle                             NaN
3                    Uber                             NaN
4               Mc Kinsey                             NaN
5           Meta (Direct)                             NaN
6         Meta (Contract)                             NaN
7        Virgin Hyperloop                             NaN
8                  Google                             NaN
9                     AXS                             NaN
10                 Disney                             NaN
11     Ingram Micro Cloud                             NaN
12    Data engineer soCal          Paige Raszl / Linkedin
13        Elizabeth Ryder                        LinkedIn
14  Apex Systems / Kaiser                            mail
15   J&J Data Engineering                            mail
16                 SLolom                            mail
17                 Kaiser                            Mail

                                         Email/ Phone  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                   praszl@judge.com
13                                                NaN
14          \nDaisy Joseph <dajoseph@apexsystems.com>
15  Ankur Dogra/ adogra1@its.jnj.com |        (267...
16           \nAaron Benson <aaron.benson@slalom.com>
17                                       Daisy joseph

                                   Status  \
0                 Followed up on 19th aug
1   Give dates waiting for quantum black
2                                     NaN
3                         8/26 Uber exam
4                  Follow up sent on 8/22
5                                     NaN
6                                     NaN
7                          Take follow up
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                 Follow up sent on 8/19
14                                    NaN
15                             email 8/20
16                                    NaN
17                Follow up sent on 22/22

                                  Introductory Call  \
0                                               NaN
1                                               NaN
2                                    8/24 11 AM PDT
3                                               NaN
4                                               NaN
5                                               NaN
6                                     Contract 8/29
7                                               NaN
8                               2022-08-26 10:30:00
9                                  25 Aug 3 to 3:30
10                                              NaN
11                                   25th Aug 11:30
12                                              NaN
13                                              NaN
14  Introductory Call Done, Give time for 2st round
15                              contact on 29th Aug
16                                              NaN
17                                              NaN

                  1st interview  2nd interview
0                           NaN            NaN
1                           NaN            NaN
2                           NaN            NaN
3                           NaN            NaN
4   6,7,8 Sep (To Be Scheduled)            NaN
5                           NaN            NaN
6                           NaN            NaN
7                           NaN            NaN
8                           NaN            NaN
9                           NaN            NaN
10                          NaN            NaN
11                          NaN            NaN
12                          NaN            NaN
13                          NaN            NaN
14                          NaN            NaN
15                          NaN            NaN
16                          NaN            NaN
17                          NaN            NaN

In [7]:
## inferschema
df = spark.createDataFrame(df1)
print(df)

TypeError: field Status: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>