## Common String Manipulation Functions
Let us go through some of the common string manipulation functions using pyspark as part of this topic.

* Concatenating strings
  * We can pass a variable number of strings to `concat` function.
  * It will return one string concatenating all the strings.
  * If we have to concatenate literal in between then we have to use `lit` function.
* Case Conversion and Length
  * Convert all the alphabetic characters in a string to **uppercase** - `upper`
  * Convert all the alphabetic characters in a string to **lowercase** - `lower`
  * Convert first character in a string to **uppercase** - `initcap`
  * Get **number of characters in a string** - `length`
  * All the 4 functions take column type argument.

### Tasks - Concatenating Strings

Let us perform few tasks to understand more about 
`concat` function.
* Letâ€™s create a Data Frame and explore `concat` function.

In [0]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [0]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [0]:
employeesDF.show()

* Create a new column by name **full_name** concatenating **first_name** and **last_name**.

In [0]:
from pyspark.sql.functions import concat
employeesDF. \
    withColumn("full_name", concat("first_name", "last_name")). \
    show()

* Improvise by adding a **comma followed by a space** in between **first_name** and **last_name**.

In [0]:
from pyspark.sql.functions import concat, lit

In [0]:
employeesDF. \
    withColumn("full_name", concat("first_name", lit(", "), "last_name")). \
    show()

### Tasks - Case Conversion and length

Let us perform tasks to understand the behavior of case conversion functions and length.

* Use employees data and create a Data Frame.
* Apply all 4 functions on **nationality** and see the results.

In [0]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [0]:
employeesDF = spark.createDataFrame(employees). \
    toDF("employee_id", "first_name",
         "last_name", "salary",
         "nationality", "phone_number",
         "ssn"
        )

In [0]:
from pyspark.sql.functions import col, lower, upper, initcap, length

In [0]:
employeesDF. \
  select("employee_id", "nationality"). \
  withColumn("nationality_upper", upper(col("nationality"))). \
  withColumn("nationality_lower", lower(col("nationality"))). \
  withColumn("nationality_initcap", initcap(col("nationality"))). \
  withColumn("nationality_length", length(col("nationality"))). \
  show()